# Arbitrary name used for slack notification
site_url="website.fr"
slack_webhook_url="https://hooks.slack.com/services/XXXXXX/XXXXXX/XXXXXX"

# Website document root to backup
site_path="./www"

# MySQL database connexion
db_name=""
db_host=""
db_user=""
db_pass=""
db_port="3306"

# FTP credentials
ftp_host=""
ftp_user=""
ftp_pass=""